<html>
 <head>
  <title>Slack bot for tipping</title>
  <script src="/scripts/jquery-1.7.1.min.js"></script>
</head>
 <body style="text-align: center">
  <p>
    <h3>Slack Teams Registered</h3>
  </p>
  <table border="1">
    <thead>
      <tr>
        <% cols = Team.column_names.reject { |c| (c == "token") || (c == "domain") } %>
        <% cols.each do |col| %>
          <th><%= col %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% Team.order(id: :asc).limit(10000).each do |team| %>
      <tr>
        <% cols.each do |col| %>
          <td><%= team.read_attribute(col) %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br/><br/><br/>

  <p>
    <h3>Transaction History</h3>
  </p>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Amount</th>
        <th>Sender's New Balance</th>
        <th>Receiver's New Balance</th>
        <th>Metadata</th>
        <th>Created On</th>
        <th>Via</th>
      </tr>
    </thead>
    <tbody>
      <% Txn.order(id: :desc).limit(10000).each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td><%= t.sender %></td>
        <td><%= t.receiver %></td>
        <td><%= t.amount %></td>
        <td><%= t.sender_new_balance %></td>
        <td><%= t.receiver_new_balance %></td>
        <td><%= t.metadata %></td>
        <td><%= t.created_at %></td>
        <td><%= t.via %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
 </body>
</html>